name: Build Windows PtexUtils

on:
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Clone Ptex Library
      run: |
        cd ..
        git clone https://github.com/wdas/ptex.git
    
    - name: Build Ptex Library
      run: |
        cd ..\ptex
        mkdir build
        cd build
        cmake .. -G "Visual Studio 17 2022" -A x64 `
          -DCMAKE_INSTALL_PREFIX="$env:GITHUB_WORKSPACE\ptex-install"
        cmake --build . --config Release
        cmake --install .
    
    - name: Build PtexUtils
      run: |
        mkdir build
        cd build
        cmake .. -G "Visual Studio 17 2022" -A x64 `
          -DPTEX_LIBRARY="$env:GITHUB_WORKSPACE\ptex-install\lib\Ptex.lib" `
          -DPTEX_INCLUDE_DIR="$env:GITHUB_WORKSPACE\ptex-install\include" `
          -DCMAKE_INSTALL_PREFIX="$env:GITHUB_WORKSPACE\install"
        cmake --build . --config Release
        cmake --install .
    
    - name: Upload Binaries
      uses: actions/upload-artifact@v3
      with:
        name: ptxutils-windows
        path: |
          install\bin\ptxtransfer.exe
          install\bin\ptxconvert.exe
          install\bin\ptxview.exe
          install\bin\*.dll
